@{
    ViewBag.Title = "About";
}

<style>
    body {
        background-color: black;
        font-family: 'DejaVu Sans';
        color: lightgoldenrodyellow;
    }
</style>
<h1> <u>O nama</u></h1>
<h3>Kako je nastala Studentska banka?</h3>

<p>
    Studentska banka je nastala kao ideja grupe studenata koji su osjetili potrebu da automatiziju proces planiranja, organizovanja,
    i potrošnje svojih finansija i svog budžeta.
</p>

<h3>Ko su osnivači?</h3>

<p>
    Osnivači su Ahmed Malkoč, Ferhad Mešić i Nedim Šišić. Oni su ujedno i kreatori UWP i ASP.NET web aplikacije.
</p>

<h3>Šta je naš zadatak?</h3>

<p>
    Aplikacija studentu pomaže da optimalno iskoristi svoj novac, da ga uštedi, da ga potroši na pravom mjestu i u pravo vrijeme,
    da ga upozori ukoliko troši previše, da mu posudi novac ukoliko postoje zadovoljavajući uslovi za to.
</p>

<h3>Šta vam aplikacija nudi?</h3>

<p>
    * Izvršavanje transakcija s računa na račun <br />
    * Izvršavanje transakcija fizičkom uplatom gotovine<br />
    * Poništavanje transakcija<br />
    * Izvještaj dugovanja<br />
    * Izvještaj stanja na računu<br />
    * Pregled historije transakcija<br />
    * Konvertovanje iz jedne valute u drugu<br />
    * Podnošenje zahtjeva za mikrokreditom
</p>