@{
    ViewBag.Title = "Kontakt";
}
<h2></h2>
<h3></h3>

<style>

    body {
        background-color: black;
        font-family: 'DejaVu Sans';
        color: lightgoldenrodyellow;
    }
</style>

<h1>Kontakt informacije </h1>
<hr />
<address>
    <br />
    Sarajevo, Zmaja od Bosne bb
    <br />
    <mark>
        Brojevi telefona:
        <br />
        033/123-456; 033/254-888; 033/101-102 (Sarajevo)
        <br />
        032/444-555; 032/879-654 (Zenica)
        <br/>
        037/798-444 (Bihać)
    </mark>

</address>

<address>
    <strong>Emailovi:</strong>   <a href="mailto:Support@example.com"><abbr title="Ahmed Malkoč">amalkoc1@etf.unsa.ba</abbr></a><br />
    <a href="mailto:Support@example.com"><abbr title="Ferhad Mešić">fmesic1@etf.unsa.ba</abbr></a><br />
    <a href="mailto:Support@example.com"><abbr title="Nedim Šišić">nsisic1@etf.unsa.ba</abbr></a><br />

</address>