@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-color: lightblue;
        background-image: url(https://thumbs.dreamstime.com/b/color-money-background-stationery-739106.jpg);
        background-size: 1400px 700px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .jumbotron {
        background-color: black;
        height: 300;  
        font-family:'DejaVu Sans';

    }

    h2 {
        color:lightgoldenrodyellow;
    }
    p {
        color:gray;
    }
</style>
<div class="jumbotron">
    <h2>Dobrodošli na stranicu Studentske banke, uživajte!</h2>
    <p class="lead" >  Naša banka ima za cilj da organizuje, nadgleda, pomaže, upućuje i vodi računa o 
                        jednom studentu, konkretno njegovim finansijama i novcem kojim raspolaže. Uvjerite se sami. Niste registrovani? </p>
    <p><a href="" class="btn btn-primary btn-lg">Registracija &raquo;</a></p>
</div>

<div class="row">

    
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>